*{

    width: 100vh;
    height: 50px;
    background: repeating-radial-gradient(red,yellow);

}
.conteiner{
    display: flex;
    
    width: 100vh;
    height: 50vh;
    background: wheat;
        
}
div{
    background: blueviolet;
    color: aliceblue;
}
    